<!-- Section: Design Block -->
<section class="inicial">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Bienvenido a esta experiencia <br />
                        <span class="text-primary">para tu salud</span>
                    </h1>
                    <p style="color: hsl(217, 10%, 50.8%)">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, itaque accusantium odio, soluta, corrupti aliquam quibusdam tempora at cupiditate quis eum maiores libero veritatis? Dicta facilis sint aliquid ipsum atque?
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form [formGroup]="loginForm">
                                <!-- 2 column grid layout with text inputs for the first and last names -->
                                <div class="row">
                                    <h2>Iniciar Sesión</h2>
                                </div>

                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3">Correo Electronico</label>
                                    <input type="email" id="form3Example3" class="form-control" formControlName="email" />

                                    <!--Validaciones para email-->
                                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                                        <div *ngIf="email.errors?.['required']">
                                            Ingresa un correo.
                                        </div>

                                        <div *ngIf="email.errors?.['email']">
                                            No es un fromato de Correo.
                                        </div>
                                    </div>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4">Contraseña</label>
                                    <input type="password" id="form3Example4" class="form-control" formControlName="password" />

                                    <!--Validaciones para la contraseña-->
                                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                                        <div *ngIf="password.errors?.['required']">
                                            Contraseña requerida.
                                        </div>
                                    </div>
                                </div>


                                <!-- Submit button -->
                                <button style="width: 100%;" type="submit" class="btn btn-primary btn-block mb-4" (click)="login()">
                                    Iniciar Sesión
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>