.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.inicial {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 40px;
    padding-bottom: 40px;
}

h2 {
    text-align: center;
    margin: 0 !important;
    padding-top: 5%;
}

.btn-eliminar {
    border-color: red;
    color: red;
}

.btn-eliminar:hover,
.btn-eliminar:active {
    border-color: red;
    background-color: red;
    color: white;
    /* Cambiar el color del texto si es necesario */
}

a:hover {
    color: #D905B7;
}

.navbar-expand-lg {
    justify-content: flex-end !important;
}