.inicial {
    background-color: hsl(0, 0%, 96%);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

h2 {
    text-align: center;
    margin: 0 !important;
}

.cartas {
    margin-top: 40px;
}

.btn-eliminar {
    border-color: red;
    color: red;
}

.btn-eliminar:hover,
.btn-eliminar:active {
    border-color: red;
    background-color: red;
    color: white;
    /* Cambiar el color del texto si es necesario */
}

a:hover {
    color: #D905B7;
}

.navbar-expand-lg {
    justify-content: flex-end !important;
}